body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f7fb;
}

.layout {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #0b1d3a;
    color: #fff;
    padding: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #b5c7e3;
    text-decoration: none;
}

.sidebar a.active {
    background: #2563eb;
    border-radius: 8px;
    color: #fff;
}